POSTGRES_DB=timeforing
POSTGRES_USER=timeforing
POSTGRES_PASSWORD=BYTTES_AUTOMATISK_AV_INSTALLASJONEN
APP_URL=https://timer.eksempel.no
HTTP_PORT=4080
SECURE_COOKIES=true
TRUST_PROXY=1
SESSION_DAYS=7
